@model ProductServiceModel
@inject IProductService productService
@inject IEmployeeService employeeService

<div class="d-flex flex-column justify-content-between px-2">
    <a class="glightbox" data-gallery="images-gallery">
        <div class="product-image-container">
            <img src="@Url.Content($"~/images/{Model.PhotoFileName}")" class="img-fluid" alt="@Model.Name">
        </div>
    </a>
    <!-- Product Details -->
    <a asp-controller="Product" asp-action="Details" asp-route-productId="@Model.Id">
        <h4>@Model.Name</h4>
    </a>
    <p class="price">@Model.Price лв.</p>
    <p class="ingridients">Заявени: @Model.Count бр.</p>
    <!-- Admin/Employee Actions -->
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <div class="row gy-2">

            @if (User.IsAdmin())
            {
                <a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-productId="@Model.Id" class="btn more-btn">Редактирай</a>
                <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-productId="@Model.Id" class="btn more-btn">Изтрий</a>
            }
            @if (await employeeService.ExistsByUserIdAsync(User.Id()) && User.IsAdmin() == false)
            {
                <a asp-controller="Product" asp-action="RequestProduct" asp-route-productId="@Model.Id" class="btn more-btn w-100">Направи заявка</a>
            }
        </div>
    }
</div>



