@model ProductServiceModel
@inject IProductService productService
@inject IEmployeeService employeeService

<a href="assets/img/menu/menu-item-1.png" class="glightbox"><img src="@Url.Content($"~/images/{Model.PhotoFileName}")" class="menu-img img-fluid" alt="@Model.Name"></a>
<h4>@Model.Name</h4>
<p class="price">
    @Model.Price лв.
</p>
<p class="ingridients">
    Налични: @Model.Count
</p>
@if (User?.Identity?.IsAuthenticated == true)
{
    <div class="d-grid gap-2">
        <a asp-controller="Product" asp-action="Details" asp-route-productId="@Model.Id" class="btn btn-outline-primary">Детайли</a>

        @if (User.IsAdmin())
        {
            <a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-productId="@Model.Id" class="btn btn-warning">Редактирай</a>
            <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-productId="@Model.Id" class="btn btn-danger">Изтрий</a>
        }
        @if (await employeeService.ExistsByUserIdAsync(User.Id()) && User.IsAdmin() == false)
        {
            <a asp-controller="Product" asp-action="RequestProduct" asp-route-productId="@Model.Id" class="btn btn-outline-primary">Направи заявка</a>
        }
    </div>
}
