@model ProductFormModel

<form method="post" enctype="multipart/form-data">
    <!-- Title Field -->
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <!-- Description Field -->
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <!-- Start Time Field -->
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <!-- Ensure the correct format -->
        <input asp-for="Price" class="form-control" type="number" min="0.01" max="100000.00"/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <!-- Duration Field -->
    <div class="form-group">
        <label asp-for="Count" class="control-label"></label>
        <input asp-for="Count" class="form-control" type="number" min="1" max="1000" step="1" />
        <span asp-validation-for="Count" class="text-danger"></span>
        <small class="form-text text-muted">Duration must be between 30 and 180 minutes.</small>
    </div>

    <div class="form-group mb-3">
        <label asp-for="PhotoFileName" class="form-label">Добави снимка:</label>
        <input type="file" asp-for="PhotoFileName" class="form-control" />
        <span asp-validation-for="PhotoFileName" class="text-danger"></span>
    </div>

    <!-- Category Dropdown -->
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="small text-danger"></span>
    </div>

    <!-- Category Dropdown -->
    <div class="form-group">
        <label asp-for="SupplierId"></label>
        <select asp-for="SupplierId" class="form-control">
            @foreach (var supplier in Model.Suppliers)
            {
                <option value="@supplier.Id">@supplier.Name</option>
            }
        </select>
        <span asp-validation-for="SupplierId" class="small text-danger"></span>
    </div>

    <!-- Hidden Field for Model ID -->
    @if (string.IsNullOrEmpty(Model.Id))
    {
        <div class="form-group">
            <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
        </div>
    }

    <!-- Submit and Cancel Buttons -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="@Url.Action("Dashboard", "Home")" class="btn btn-secondary">Излез</a>
    </div>
</form>