@model ProductRequestViewModel
@inject IEmployeeService employeeService

@{
    ViewBag.Title = "Заяви продукт";
}

<h2>Product Request</h2>

@{
    int employeeId = await employeeService.GetEmployeeIdByUserId(User.Id());

    var employee = await employeeService.GetByIdAsync(employeeId);
}

<div>
    <h3>@Model.Name</h3>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Price:</strong> @Model.Price.ToString() лв.</p>
    <p><strong>Available Count:</strong> @Model.Count</p>
    <p><strong>Supplier:</strong> @Model.SupplierName</p>
</div>

@using (Html.BeginForm("RequestProduct", "Product", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Count)

    <div class="form-group">
        @Html.LabelFor(m => m.RequestedCount)
        @Html.TextBoxFor(m => m.RequestedCount, new { @class = "form-control", type = "number", min = "1", max = Model.Count })
        @Html.ValidationMessageFor(m => m.RequestedCount, null, new { @class = "text-danger" })
    </div>

    <input type="hidden" asp-for="EmployeeSiteId" value="@employee.CommercialSiteId"/>

    <button type="submit" class="btn btn-primary">Изпрати заявката</button>
    <a asp-action="All" asp-controller="Product" class="btn btn-secondary">Назад</a>
}
