@inject IProductService productService;
@inject IUserService userService;
@inject ISupplierService supplierService;

@{
    ViewData["Title"] = "Dashboard";
}

@{
    var lastSevenProducts = await productService.LastSevenProductsAsync();

    var suppliers = await supplierService.AllAsync();
}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " asp-action="DashBoard" asp-controller="Home">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Продукти</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="Product" asp-action="Add">
                        <i class="bi bi-circle"></i><span>Добави</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Product" asp-action="All" asp-area="">
                        <i class="bi bi-circle"></i><span>Всички продукти</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-heading">Страници</li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-action="All" asp-controller="CommercialSite" asp-area="">
                <i class="bi bi-person"></i>
                <span>Търговски обекти</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" asp-action="All" asp-controller="Employee">
                <i class="bi bi-person"></i>
                <span>Служители</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" asp-action="All" asp-controller="User">
                <i class="bi bi-question-circle"></i>
                <span>Потребители</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" asp-action="Suppliers">
                <i class="bi bi-envelope"></i>
                <span>Производители</span>
            </a>
        </li><!-- End Contact Page Nav -->
    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1 style="font: inherit;">Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Начало</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">

                            <div class="card-body">
                                <h5 class="card-title"><a asp-action="All" asp-controller="Product" asp-area="" style="color: inherit">Продукти <span>| Брой</span></a></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h2 style="font:inherit;">@await productService.AllProductsCountAsync()</h2>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->
                    <!-- Price Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title"><a asp-action="All" asp-controller="Product" asp-area="" style="color: inherit;">Продукти <span>| Обща цена</span></a></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h2 style="font:inherit;">@await productService.SumProductPricesAsync() лв.</h2>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->
                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title"><a asp-action="All" asp-controller="User" style="color: inherit;">Потребители <span>| Брой</span></a></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h2 style="font:inherit;">@await userService.UsersCountAsync()</h2>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->
                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="card-body">
                                <h5 class="card-title">Последно добавени продукти</h5>

                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Име</th>
                                            <th scope="col">Цена</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (lastSevenProducts.Any())
                                        {
                                            foreach (var product in lastSevenProducts)
                                            {

                                                <tr>
                                                    <th scope="row"><a asp-action="Details" asp-controller="Product" asp-area="" asp-route-productId="@product.Id.ToString()" style="color: inherit;">@product.Id</a></th>
                                                    <td>@product.Name</td>
                                                    <td>@product.Price лв.</td>
                                                </tr>

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div><!-- End Recent Sales -->
                    <!-- Suppliers -->
                    <div class="col-12" id="suppliers">
                        <div class="card recent-sales overflow-auto">

                            <div class="card-body">
                                <h5 class="card-title">Производители</h5>

                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Име</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (suppliers.Any())
                                        {
                                            foreach (var supplier in suppliers)
                                            {

                                                <tr>
                                                    <th scope="row">@supplier.Id</th>
                                                    <td>@supplier.Name</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>В момента няма добавени производители</tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div><!-- End Recent Sales -->
                </div>
            </div><!-- End Left side columns -->
        </div>
    </section>

</main><!-- End #main -->
